*{
	margin: 0;
	padding: 0;
	list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
       body {
        background-color: #3f7399;
        color: black;
      }
     .dark-mode {
        background-color: black;
        color: #03cffc;
      }

      .light-mode {
        background-color: #9ed9e6;
        color: black;
      }

.header{
	background-image: linear-gradient(rgba(0, 0, 0, 0.40),rgba(0, 0, 0, 0.40)),url(images/homeimg.jpg);
	min-height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}

.logo img{
	width: 5%;
	padding-left: 0;
float: right;
	padding-top: 10px;
	border-radius: 80px;
	position: absolute;
	margin-left: 85%;
top: 5%;
left: 2%;
}

@media (min-width: 0px) and (max-width: 700px) {
	.logo img{
		width: 15%;
	}

}



.text-box{
position: absolute;
width: 90%;
color: #fff;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}

.text-box h1{
	color: #D2B48C;
	font-size: 62px;
	font-family: gothic;
	align-content: center;
}


.text-box p{
	color: whitesmoke;
	font-size: 18px;
	align-content: center;
	 border: 2px solid #fff;

	
}

.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: whitesmoke;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	margin-top: 10px;
}

.hero-btn:hover{
	border: 1px solid #03cffc;
	background: #03cffc;
	transition: 1s;
	color: #1b301b;
}



@media(min-width: 0px) and (max-width: 700px){
	.text-box h1{
		font-size: 60px;
    }

   
}


.form-btn{
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 10px 20px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
	margin-top: 10px;
}
.form-btn:hover{
	background: #03cffc;
	transition: 1s;
	color: black;
	border: none;
}

.subjects{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;	
}

h1{
	font-size: 40px;
	font-weight: 600;
}

p{
	color: #112c40;
	font-size:20px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.btn-group{
	flex-basis: 31%;
	text-decoration: none;
	border-radius: 2px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}

.btn-group button{
	text-align: center;
	font-weight: 100;
	margin: 10px 0;
	background: #112c40;
	border: none;
	font-size: 50px;
	width: 250px;
	border-radius: 2px;
	cursor: pointer;
	color: whitesmoke;
}

.btn-group a:hover{
	box-shadow: 10px 10px 10px 10px #03cffc;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	border: none;
}

@media(max-width: 700px){
	.row{
		flex-direction: column;
	}}

.steps{
	text-align: center;
	border: 20px rgba(0, 128, 0, 0.3);
	border-radius: 10px;
	border-left: 50%;

}

.steps-col{
	font-size: 15px;
    color: #112c40;
    font-size: 25px;
}

.steps p{
	font-size: 20px;
	color: #112c40;
}

.form-btn{
	color: #112c40;
	font-size: 28px;
}


.items{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.items-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 40px;
	position: relative;
	overflow: hidden;
}

.items-col img{
	width: 60%;
	display: block;
}

.layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.5s;
}

.layer:hover{
	background: rgba(39, 181, 245, 0.32);
}

.layer h3{
	width: 100%;
	font-weight: 800;
	color: whitesmoke;
	font-size: 30px;
	bottom: 40%;
	left: 65%;
	top: 20%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer:hover h3{
	bottom: 49%;
	opacity: 1;
}
.layer p{
	width: 100%;
	font-weight: 50;
	color: whitesmoke;
	font-size: 20px;
	bottom: 0;
	left: 50%;
	top: 40%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer:hover p{
	bottom: 49%;
	opacity: 3;
}



.wrapper .sidebar{
    background: #112c40;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin: 0 auto;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 14px;
}
.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #4e6e50;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: whitesmoke;
    width: 30px;
    display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #03cffc;
background: #1c2c61;
    border-right: 2px solid rgb(5, 68, 104);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: whitesmoke;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}
.wrapper .section{
    width: calc(100% - 225px);
    margin-left: 225px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;

}

.wrapper .section .top_navbar .hamburger a{
    font-size: 28px;
    color: white;
}

.wrapper .section .top_navbar .hamburger a:hover{
    color: #4e6e50;
}
body.active .wrapper .sidebar{
    left: -225px;
}

body.active .wrapper .section{
    margin-left: 0;
    width: 100%;
}
    </style>